/* ----------------------- Universal Styles Begins -------------------------- */

* {
    margin:0;
    box-sizing: border-box;
    padding:0;
}

body {
    font-family: "Lilita One";
    font-size: 4vw;
    color: white;
    font-weight: 100;
}

p {
    font-family: "Spline Sans";
    font-size: 3vmin;
    text-align: center;
}

/* Headings */

h1 {
    font-size: 8vmin;
    font-weight: 200;
}

h2 {
    font-size: 6vmin;
    font-weight: 50;
}

h3 {
    font-size: 5vmin;
    font-weight: 50;
}

h4 {
    font-size: 4.5vmin;
    font-weight: 50;
}

h5 {
    font-weight: 50;
    font-size: 3vmin;
}

.add-right-space {
    margin-right: 2vw;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Colours */

.orange {
    background-color: #FFBD59;
}

.light-orange {
    background-color: #FFEFAD;
}

.green {
    background-color: #92D050;
}

.blue {
    background-color: #87CCFF;
}

.red {
    background-color: #FF854D;
}

.real-red {
    background-color: #ff7370ff;
}


.green-font {
    color: #92D050;
}

.red-font {
    color: #FF854D;
}

.white-font {
    color: white;
}

.orange-font {
    color: #FFBD59;
}

/* ----------------------- Universal Styles Ends --------------------------- */

/* --------------------------- Header Begins ------------------------------- */

header {
    width:100%;
    height:10vh;


    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 2;

    background:white;
}

/* Logo */

.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-words {
    height:120%;
    width:auto;
}

.logo-img {
    height: 100%;
    width: auto;
}

.nav-link {
    text-decoration: none;
    color: #FFBD59;
    font-size: 3vh;
    font-weight: 50;
}




/* ------------------------------ Header Ends ------------------------------- */

/* ------------------------------ Learn Begins ------------------------------- */

.learn {
    margin-top:10vh;
    height:90vh;
    width:100%;
    background-color: white;
    border-top: 2px solid orange;
    padding: 2vw;

    display: flex;
    flex-direction: column;

}

/* Text Content */

.learn-text {
    width: 100%;
    height: 15vh;
    padding: 2vh 2vw 0 2vw;
}

.learn-text h2 {
    color: black;
}

.learn-categories {
    padding-top:2vh;
    width:100%;
    display:flex;
    justify-content: space-around;
    color: black;
}

.category1, .category2, .category3 {
    width: 30vw;
    text-align: center;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.active {
    background-color: #FFBD59;
    color:white;
}

.category-link {
    font-weight: 100;
}

/* Images of Modules */

/* Layout of Modules */

.learn-courses {
    width:100%;
    height: 75vh;
    display:flex;
}

.course-slot {
    width: 42vw;
}

/* Specific Categories (hide when not selected) */

.compression-courses {
    width:100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5vw;
    overflow: scroll;
}

.compression-courses a {
    text-decoration: none;
}

.compression-courses p {
    padding: 1vh 0;
    font-family: "Lilita One";
    color: white;
}

.course-img {
    height: auto;
    width: 100%;
}


/* ------------------------ TITLE BEGINS ----------------------------*/

.title-card{
    height:85vh;
    width:100%;
    flex-direction: column;
    margin-top: 10vh;
    padding:1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0 6px 10px 0px rgba(255, 121, 89, 0.2), 0 12px 20px 0 rgba(255, 121, 89, 0.19);
}



/* Title Image */

.title-image-holder {
    height: 100%;
    width: 55%;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.img-title {
    height: auto;
    width: 50%;
}

button {
    background-color: white;
    border: none;
    border-radius: 1.5rem;
    text-align: center;
    text-decoration: none;
    font-family: "Balsamiq Sans";
    margin-top: 1vmin;
    cursor: pointer;
    width: 40%;
    height: 20%;
    font-size: 3vmin;
}

button a {
    color: #92D050;
    text-decoration: none;

}



/* ------------------------ TITLE ENDS ----------------------------*/

/* ------------------------ TABLE OF CONTENTS BEGINS ----------------------------*/

.table-of-contents {
    width: 80vw;
    margin-bottom: 8vh;
}

.toc-item-container {
    display: flex;
    align-items: center;

    margin-top: 3vh;
    padding: 2vw;
    border-radius: 2rem;
}

.toc-heading {
    margin-right: 5vw;
    margin-left: 1vw;
}

.toc-item-container {
    box-shadow: 0 6px 10px 0px rgba(255, 121, 89, 0.2), 0 12px 20px 0 rgba(255, 121, 89, 0.19);
}

.toc-big-heading {
    text-shadow: 2px 2px rgba(255, 121, 89, 0.2);
    text-align: center;
}

.table-of-contents a {
    text-decoration: none;
    color: white;
}

/* ------------------------ TABLE OF CONTENTS ENDS ----------------------------*/


/* ------------------------ CONTENT BEGINS ------------------------*/

.content {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5vh 5vw 0 5vw;
}

.card {
    width:100%;

    display:flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 5vh;

    box-shadow: 0 6px 10px 0px rgba(255, 121, 89, 0.2), 0 12px 20px 0 rgba(255, 121, 89, 0.19);

    overflow:hidden;
}

.card h2 {
    margin-left: 1.5vmin;
}

.big-card, .small-card {
    height: 65vh;
}

.row-of-two {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

/* Layout of cards */

.row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
}

.bottom-row {
    justify-content: flex-end;
}

.title-of-card {
    font-size: 5vmin
}

.description {
    margin-right: 2vmin;
}

.small-description-text {
    font-size: 2.25vmin;
}

.img-container {
    height: 60%;
    width: 100%;
}

.picture {
    height: 100%;
    width: auto;
}

.icon {
    height: 100%;
}

.icon img {
    max-height: 100%;
}

.text-img-bottom {
    width: 100%;
    height: 25%;
}

.img-img-bottom {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.img-img-bottom img {
    max-height: 100%;
    max-width: 100%;
}

.small-card-title {
    margin-left: 1.5vmin;
}

/* Next Module Card Begins */

.next-card-title {
    width: 100%;
    text-align: center;
}

.next-container {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #FFEFAD;
    padding: 1vw 2vw;
    border-radius: 2vw;
    width: 30vw;
}

.next-image-container {
    padding: 1vw;
}

.next {
    text-decoration: none;
    text-align: center;
    font-size: 3vw;
}

.arrow {
    height: 3vw;
}

.next-arrow {
    position: relative;
    left: 1vw;
    top: 0.5vw;
}

.prev-arrow {
    position: relative;
    right: 1vw;
}

/* Next Module Card Ends */

.full-image {
    max-height: 100%;
    margin: auto 0;
}





/* ------------------------ CONTENT ENDS --------------------------*/

/* ------------------------ FOOTER BEGINS --------------------------*/

footer {
    height: 35vh;
    width:100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding: 0.75%;
}

.logo {
    height: 12vh;
    padding-bottom: 1vh;
}

.instagram{
    padding-top: 2vh;
    height: 6vh;
}

.footer-message {
    font-size: 2vmin;
}

/* ------------------------ FOOTER BEGINS --------------------------*/



/* ------------------------ WELCOME BEGINS --------------------------*/

.welcome-div {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 15vw;
}

.welcome-img-container {
    width: 45%;
    display:flex;
    justify-content: center;
}

.welcome-text {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-text h1 {
    font-weight: 100;
    font-size: 6vw;
    text-align: center;
}

.welcome-text h4 {
    font-weight: 100;
    font-size: 2vw;
    text-align: center;
}

.welcome-text button {
    color: white;
    font-family: "Lilita One";
    margin-top: 4vh;
    width: 15vw;
    border-radius: 13px;
    font-size: 2vw;
    box-shadow: 0 6px 10px 0px rgba(255, 121, 89, 0.2), 0 12px 20px 0 rgba(255, 121, 89, 0.19);

    
}

.welcome-div img {
    width: 25vw;
}

/* ------------------------ WELCOME ENDS --------------------------*/


.video-container {
    height: 50%;
}

video {
    max-height: 100%;
    max-width: 100%;
}

/* Media Queries */

@media (orientation: landscape) {

    .mobile {
        display:none;
    }

    .computer {
        display: block;
    }

    /* Universal */

    header {
        padding: 1% 10%;
    }

    .instagram {
        height: 7vh;
    }

    .close-computer {
        height:80%;
        width:auto;
        margin-right: 5vw;
    }

    .small-card {
        height: 60vh;
        max-width: 42vw;
        border-radius: 8vw;
    }

    .small-card-title {
        font-size: 4vmin;
    }

    .title-card {
        flex-direction: row;
    }

    .title-image-holder {
        align-items: center;
    }

    button {
        padding: 1.5vmin 4vmin; 
        width: 40vmin;
    }

    .card {
        padding: 3vw;
        border-radius: 7vw;
    }

}

@media (orientation: portrait) {
    .mobile {
        display:block;
    }

    .computer {
        display:none;
    }

    /* Header Begins */

    header {
        padding:1% 0;
    }

    .img-menu {
        height:65%;
        width:auto;
        margin-right: 5vw;
    }

    .close-mobile {
        height:80%;
        width:auto;
        margin-right: 5vw;
    }

    /* Header Ends */

    

    .small-description-text {
        font-size: 3vmin;
    }

    .size-fifty {
        height: 50vh;
    }



    .small-card-title {
        font-size: 6vmin;
    }

    /* Title Card Begins */

    .title-image-holder {
        height: 70%;
        width: 100%;
        padding: 10vmin 10vmin 0 10vmin;
    }

    .title-text {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        width: 100%; 
        padding-top: 3vh; 
        height: 30%;  
    }

    .title-image {
        max-width: 100%;
        max-height: 100%;
    }

    /* Welcome Div Begins */

    .welcome-div {
        flex-direction: column;
        justify-content: center;
        padding: 12vw;
    }
    
}

/* Media Queries with Aspect Ratios*/

@media (min-aspect-ratio: 18/10){

    /* Big Card Begins */

    .title-top {
        padding-left: 3vw
    }

    .title-text h4 {
        font-size: 5vw;
        font-weight: 300;
    }

    .title-text h2 {
        font-size: 4.5vw;
        font-weight: 600;
    }

    .title-image {
        width: 35vw;
    }

    .big-card {
        height: 80vh;
    }

    /* Small Cards Begins*/

    .small-card {
        height: 70vh;
    }

    /* Footer Begins */

    footer {
        justify-content: space-around;
        flex-direction: row;
        height: 20vh;
    }

    /* Learn Begins */

    .learn-text h2 {
        font-size: 2.5vw;
    }

    .category-link {
        font-size: 1.5vw;
        font-weight: 100;
    }

    .compression-courses {
        justify-content: start;
        padding-left: 3vw;
    }

    .course-slot p {
        font-size: 1vw;
    }

    .course-slot {
        width: 20vw;
        margin-right: 1vw;
    }

    /* Table of Contents Begins */

    .table-of-contents {
        margin: 8vh 0 16vh 0;
    }
    
    .toc-item-container {
        margin-top: 3vh;
        padding: 2vw;
    }
    
    .toc-heading {
        font-size: 2vw;
    }

    .toc-title {
        font-size: 2vw;
    }


    .img-square {
        width: 35vw;
    }

}

@media (orientation: landscape) and (max-aspect-ratio: 18/10) {

    /* Big Card Begins */

    .title-top {
        padding-left: 3vw
    }

    .title-text h4 {
        font-size: 5vw;
        font-weight: 300;
    }

    .title-text h2 {
        font-size: 4.5vw;
        font-weight: 600;
    }

    .title-image {
        width: 38vw;
    }

    /* Footer Begins */

    footer {
        justify-content: space-around;
        flex-direction: row;
        height: 20vh;
    }

    /* .big-card {
        height: 80vh;
    }

    .small-card {
        height: 70vh;
    } */

    /* Learn Begins */

    .learn-text h2 {
        font-size: 2.5vw;
    }

    .category-link {
        font-size: 1.5vw;
        font-weight: 100;
    }

    .compression-courses {
        justify-content: start;
        padding-left: 3vw;
    }

    .course-slot p {
        font-size: 1.75vw;
    }

    .course-slot {
        width: 25vw;
        margin-right: 1vw;
    }

    /* Table of Contents Begins */

    .table-of-contents {
        margin: 8vh 0 16vh 0;
    }
    
    .toc-item-container {
        margin-top: 3vh;
        padding: 2vw;
    }
    
    .toc-heading {
        font-size: 2vw;
    }

    .toc-title {
        font-size: 2vw;
    }

    /* Table of Contents Ends */

    .img-square {
        width: 40vw;
    }

}

@media (orientation: landscape) and (max-aspect-ratio: 17/10) {

    /* Title Card Begins */

    .title-card {
        padding: 0;
    }

    .title-text {
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        width: 45%; 
        padding-top: 3vh; 
    }

    button {
        padding: 1.5vw 4vw;
        font-size: 3vw;
        width: 40vw;
    }

    /* Learn Begins */

    .learn-text h2 {
        font-size: 2.5vw;
    }

    .img-square {
        width: 46vw;
    }
}

@media (min-aspect-ratio: 14/10) and (max-aspect-ratio: 16/10) {

    .welcome-div {
        padding: 12vw;
    }
    
    .welcome-text h1 {
        font-size: 7vw;
    }
    
    .welcome-text h4 {
        font-size: 2.5vw;
    }
    
    .welcome-text button {
        width: 17vw;
        font-size: 3vw;
    }

    .img-square {
        width: 40vw;
    }

}

@media (orientation: landscape) and (min-aspect-ratio: 15/10) {
    .card {
        width: 80%;
    }
}

@media (orientation: landscape) and (max-aspect-ratio: 14/10) {

    /* Title Card Begins */

    .title-image {
        margin-top: 5vh;
        width: 45vw;
        height: auto;
    }

    /* Next Module Card Begins */

    .next-card {
        padding: 5vw 0;
    }

    /* Learn Begins */

    .learn-text h2 {
        font-size: 4vw;
    }

    .category-link {
        font-size: 2vw;
    }

    /* Welcome Begins */

    .welcome-div {
        padding: 12vw;
    }
    
    .welcome-text h1 {
        font-size: 7vw;
    }
    
    .welcome-text h4 {
        font-size: 2.25vw;
    }
    
    .welcome-text button {
        padding: 1vw;
        margin-top: 1.5vh;
        width: 17vw;
        font-size: 2.5vw;
    }

    /* Welcome Ends*/

    .img-square {
        width: 48vw;
    }

}


/* laptops */

@media (orientation: landscape) and (max-aspect-ratio: 13/10) {

    /* Next Module Card Begins */

    .next-card {
        padding: 6vw 0;
    }

    .img-square {
        width: 45vw;
    }




}


/* shorter tablets */

@media (max-aspect-ratio: 1/1) {

    /* Title Card Begins */

    .title-card {
        height: 85vh;
    }

    .img-title {
        width: 55vw;
    }

    .title-text h4 {
        font-size: 7vw;
    }

    /* Big Card Begins */

    .card {
        padding: 5vw;
        border-radius: 12vw;
    }

    /* Next Module Card Begins */

    .next-container {
        width: 45vw;
    }

    .next {
        font-size: 5vw;
    }

    .arrow {
        height: 5vw;
    }

    /* Table of Contents Begins */

    .table-of-contents {
        margin-bottom: 6vh;
    }

    
    .toc-item-container {
        margin-top: 3vh;
        padding: 3vw;
    }
    
    /* Welcome Begins */

    .welcome-text {
        width: 100%;
    }
    
    .welcome-text h1 {
        display: none;
    }
    
    .welcome-text h4 {
        font-size: 5vw;
        margin: 3vh 0;
    }
    
    .welcome-text button {
        padding: 2.5vw 4vw;
        width: 50vw;
        margin-top: 0;
        font-size: 4vw;
    }

    .welcome-div img {
        width: 40vw;
    }

    /* Welcome Ends*/

    .img-square {
        width: 50vw;
    }
}


/* for longer tablets */

@media (max-aspect-ratio: 8/10) {

    /* Title Card Begins */

    .title-card {
        height: 80vh;
    }

    .img-title {
        margin-top: 7vh;
        width: 75vw;
    }

    /* Next Module Card Begins */

    .next-container {
        padding: 2vw 2vw;
        width: 55vw;
    }

    .next {
        font-size: 6vw;
    }

    .arrow {
        height: 6vw;
    }

    .img-square {
        width: 70vw;
    }


}


/* for tablets */

@media (max-aspect-ratio: 7/10) {

    /* Title Card Begins */

    .title-card {
        height: 75vh;
    }

    .img-title {
        margin-top: 5vh;
        width: 75vw;
    }

}


@media (max-aspect-ratio: 3/5) {

    /* Title Card Begins */

    .img-title {
        margin-top: 10vh;
    }
    
    .title-text h5 {
        font-size: 7vw;
    }

    .next-card-title {
        text-align: center;
    }
}

/* -----------------------------------PAGE TRANSITION BEGINS--------------------------------------------*/

.transition{
    position: fixed;
    top:0;
    left:-100%;
    width:100%;
    bottom:0;
    z-index: 101;
    background-color: #FFBD59;
    transition: 0.5s ease-out;
}

.transition.is-active {
    left: 0px;
}

/* -----------------------------------PAGE TRANSITION ENDS--------------------------------------------*/

/* Hide (has to go at the end so it can override other styles) */

.hide {
    display: none;
}

.close-mobile {
    display: none;
}

.close-computer {
    display: none;
    position: relative;
    left: 3vw;
}

/* Cards with images at the bottom and text on the top */

.img-bottom-card {
    padding: 5vw 5vw 0 5vw;
}

.only-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.only-image {
    max-width: 100%;
    max-height: 100%;
}

.title-heading-medium {
    font-size: 8vmin;
    margin: 0.5vmin 0;
}
/* 
* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  //the container must be positioned relative:
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  //position the autocomplete items to be the same width as the container:
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  //when hovering an item:
  background-color: #e9e9e9;
}
.autocomplete-active {
  //when navigating through the items using the arrow keys:
  background-color: DodgerBlue !important;
  color: #ffffff;
} */
